body {
    color: rgb(150,150,150);
}

#banner {
    width: 100%;
    height: auto;
}

#profile-info {
    position: relative;
}

#top-bar {
    position: absolute;
    font-weight: bold;
    width: 100%;
    height: 60px;
    background: white;
    z-index: 100;
    border: none;
    color: black;
    font-size: 1.3em;
}

#bio {
    color: black;
}

.wd-banner-box {
    position: relative;
    z-index: 0;
    margin-bottom: 100px;
}

#profile-pic {
    border-radius: 200px;
    width: 200px;
    height: 200px;
    z-index: 1;
    position: absolute;
    bottom: -75px;
    left: 75px;
    border: 10px solid white;
}

#profile-name {
    font-size: 1.5em;
    color: black;
}

#edit-profile-button {
    border: 1px solid rgb(150,150,150);
}

.wd-handle {
    color: rgb(170,170,170);
    font-size: 15px;
}

